body {
    margin: 0;
    padding: 0;
    background-color: #FFC96F;
}

.main-text {
    color: #FFE8C8;
    text-shadow: 3px 4px 2px rgba(172,215,147,1);
    text-align: center;
}

.site-title {
    font-size: 4rem;
    margin-bottom: 0;
}

.slogan {
    font-size: 1.5rem;
}
