body {
    margin: 0;
    padding: 0;
    background-color: #FFC96F;
}

.main-text {
    color: #FFE8C8;
    text-shadow: 3px 4px 2px rgba(172,215,147,1);
    text-align: center;
}

.site-title {
    font-size: 4rem;
    margin-bottom: 0;
}

.slogan {
    font-size: 1.5rem;
}

.language-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.language-list button {
    font-size: 1rem;
    padding: 0.5em;
    margin-left: 1em;
    background-color: #FFA62F;
    color: #FFE8C8;
    border-radius: 5px;
}

.station-player {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFE8C8;
    margin: 1em;
    box-shadow: 2px 2px 5px 2px rgba(172,215,147,0.75);
    -webkit-box-shadow: 2px 2px 5px 2px rgba(172,215,147,0.75);
    -moz-box-shadow: 2px 2px 5px 2px rgba(172,215,147,0.75);
}

.station-info {
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
    justify-content: space-between;
}

.station-logo {
    border-radius: 50%;
}

.station-name {
    color: #593700;
    font-size: 1.3rem;
}

.rhap_container {
    background-color: #FFA62F;
    display: flex;
    justify-items: center;
    padding: 0.25em 0.75em;
    border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
}

.rhap_stacked .rhap_main-controls-button {
    color: #FFE8C8;
}

.rhap_volume-button {
    color: #FFE8C8;
}

.rhap_volume-indicator {
    background-color: #ACD793;
}